@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: hsl(218, 23%, 16%);
}
.advice-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: hsl(193, 38%, 86%);
}
.advice {
  border: 1px solid hsl(218, 23%, 16%);
  text-align: center;
  border-radius: 1rem;
  padding: 1rem 1rem 3rem;
  position: relative;
  background-color: hsl(217, 19%, 24%);
  box-shadow: 0 0 50px 20px hsl(218, 23%, 16%);
}
.advice__id {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.8rem;
  color: hsl(150, 100%, 66%);
  padding: 00.5rem 0;
}
.advice__text {
  width: 444px;
  font-size: 28px;
  padding: 1rem 0 2rem;
}
.divider {
  padding: 0.5rem 0;
}
.divider-desktop {
  display: block;
}
.divider-mobile {
  display: none;
}

.new-advice-btn {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(150, 100%, 66%);
  padding: 1.2rem;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-advice-btn:hover {
  box-shadow: 0 0 20px 2px hsla(150, 100%, 66%, 0.7);
}

.new-advice-btn__img {
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
  .advice {
    width: 95%;
    padding: 1rem 0.5rem 3rem;
  }

  .advice__id {
    font-size: 0.7rem;
    padding: 1rem 0;
  }

  .advice__text {
    width: auto;
    font-size: 24px;
    padding: 1rem 0;
  }

  .divider-desktop {
    display: none;
  }
  .divider-mobile {
    display: block;
    margin: auto;
    width: 100%;
  }

  .new-advice-btn {
    padding: 1rem;
  }
}
